
/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;color: #000;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body{
  background-color: #FDF5F1;
}
/*HEADER*/

.wrapper{
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;

}
.container{
  width: 80%;
  min-height: 50px;
  margin: 0 auto;
}
.header{
  position: sticky;
  min-width: 100%;
  background-color: #000;
  font-size: 20px;
  left: 0;
  top: 0;
  z-index: 50;
}
.menu_header{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-family: 'Revalia';
  padding-top: 1%;
  margin: 0 10% 0 10%;
  z-index: 2;
}
a.logo{
  font-weight: 500;
  color: #f0f0f0;
}
a.asist{
  color: #f0f0f0;
}
a.logo:hover{
  color: red;
  text-decoration: underline;
  border-bottom: 10px;
  line-height: 5px;
}
a.asist:hover{
  color: red;
  text-decoration: underline;
  border-bottom: 10px;
  line-height: 5px;
}

.main{
  flex-grow: 1;
}

.part_1{
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1%;
  font-family: 'Tahoma' serif;
  padding-bottom: 1%;
  font-size: 50px;
}
.photo_1{
  width: 70%;
  border: 4px #000 solid;
  border-radius: 70px;
}
.txt_1{
  padding-bottom: 1%;
}



/*FOOTER*/
.footer{
  background-color: #5A5A5A;
  flex: 0 0 auto;
  height: 9vh;
}
.soc{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: ;
  align-items: center;
  font-family: 'Revalia';
  color: #fff;
  font-size: 20px;
}
.photo{
  display: block;
  width: 25%;
  margin: 0 auto;
}

@media (max-width: 540px){
.part_1{
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 30px;
}
  .photo_1{
    width: 90%;
    border: solid #000 2.5px;
    border-radius: 25px;
  }
  .txt_1{
    padding-bottom: 4%;
  }

  .header{
  position: sticky;
  min-width: 100%;
  max-height: 6.5%;
  background-color: #000;
  font-size: 14px;
  left: 0;
  top: 0;
  z-index: 50;
}
.menu_header{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-family: 'Revalia';
  padding-top: 1%;
  margin: 5% 0% 5% 0%;
  z-index: 2;
}


.footer{
  background-color: #5A5A5A;
  height: 7vh;
  align-items: center;
}

.photo{
  display: block;
  width: 25%;
}
  .privacy, .number{
    display: none;
  }
  .soc{
    padding-top: 5%;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 720px){

.part_1{
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 45px;
}
  .photo_1{
    width: 90%;
    border: solid #000 3px;
    border-radius: 45px;
  }
  .txt_1{
    padding-bottom: 4%;
  }

  .header{
  position: sticky;
  min-width: 100%;
  max-height: 200px;
  background-color: #000;
  font-size: 20px;
  left: 0;
  top: 0;
  z-index: 50;
}
.menu_header{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-family: 'Revalia';
  padding-top: 1%;
  margin: 3% 0% 3% 0%;
  z-index: 2;
}


.footer{
  background-color: #5A5A5A;
  height: 7vh;
}
.photo{
  display: block;
  width: 25%;
}
  .privacy, .number{
    display: none;
  }
  .soc{
    padding-top: 5%;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 960px){

.part_1{
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 45px;
}
  .photo_1{
    width: 90%;
    border: solid #000 3px;
    border-radius: 45px;
  }
  .txt_1{
    padding-bottom: 4%;
  }

  .header{
  position: sticky;
  min-width: 100%;
  max-height: 200px;
  background-color: #000;
  font-size: 20px;
  left: 0;
  top: 0;
  z-index: 50;
}
.menu_header{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-family: 'Revalia';
  padding-top: 1%;
  margin: 3% 0% 3% 0%;
  z-index: 2;
}


.footer{
  background-color: #5A5A5A;
  height: 7vh;
}
.photo{
  display: inline-block;
  width: 25%;
}
  .privacy, .number{
    display: none;
  }
  .soc{
    padding-top: 5%;
    width: 100%;
    margin: 0 auto;
  }
}
